body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
  }

#root{
    font-size: medium;
}

header {
    display: flex;
    position: relative;
    background-color: blanchedalmond;
    max-height: 7%;
    justify-content:space-around;
    padding: 1% 5% 1% 5%;
}

main {
    display: flex;
    position: relative;
    max-height: 7%;
    align-items: center;
    justify-content:space-around;
    padding: 1% 5% 1% 5%;
}

main form input{
    display:block;
    font-size: large;
    margin: 5%;
}

header form{
    display: inline-flex;
    justify-self:stretch;
    min-width: 40%;
}

header form input[type='text']{
    min-width: 80%;
}

header img {
    object-fit: cover;
    height: 40px;
  
}